<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <settings>
      <setting name="Sitecore.Feature.Accounts.AzureB2C.Tenant" value="" />
      <setting name="Sitecore.Feature.Accounts.AzureB2C.Policy" value="" />
      <setting name="Sitecore.Feature.Accounts.AzureB2C.ClientId" value="" />
      <setting name="Sitecore.Feature.Accounts.AzureB2C.AadInstance" value="" />
      <setting name="Sitecore.Feature.Accounts.AzureB2C.RedirectUri" value="" />
    </settings>

    <pipelines>
      <owin.identityProviders>
        <processor type="Plugin.Sample.Accounts.Website.Pipelines.IdentityProviders.AzureADB2CProvider, Plugin.Sample.Accounts.Website" resolve="true" />
      </owin.identityProviders>
      <owin.cookieAuthentication.signIn help="Processors should derive from Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.SignIn.SignInProcessor">
        <processor
            type="Plugin.Sample.Accounts.Website.Pipelines.SignIn.CreateCommerceCustomer, Plugin.Sample.Accounts.Website">
          <param ref="entityFactory" />
        </processor>
      </owin.cookieAuthentication.signIn>
    </pipelines>

    <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
      <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
        <mapEntry name="Azure AD B2C for website" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
          <sites hint="list">
            <site>Storefront</site>
          </sites>
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureB2C']" />
          </identityProviders>
          <externalUserBuilder type="Sitecore.Owin.Authentication.Services.DefaultExternalUserBuilder, Sitecore.Owin.Authentication" resolve="true">
            <IsPersistentUser>false</IsPersistentUser>
          </externalUserBuilder>
        </mapEntry>
      </identityProvidersPerSites>

      <identityProviders hint="list:AddIdentityProvider">
        <identityProvider id="AzureB2C" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
          <param desc="name">AzureB2C</param>
          <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
          <caption>AzureB2C</caption>
          <domain>Storefront</domain>
          <enabled>true</enabled>
          <transformations hint="list:AddTransformation">
            <transformation name="role" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Storefront\myuser" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
          </transformations>
        </identityProvider>
      </identityProviders>

      <sharedTransformations></sharedTransformations>

      <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
        <maps hint="list">
          <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <source name="emails" />
              <target name="Email" />
            </data>
          </map>
        </maps>
      </propertyInitializer>
    </federatedAuthentication>

    <services>
      <register
        serviceType="Plugin.Sample.Accounts.Website.Controllers.FederatedLoginController, Plugin.Sample.Accounts.Website"
        implementationType="Plugin.Sample.Accounts.Website.Controllers.FederatedLoginController, Plugin.Sample.Accounts.Website"
        lifetime="Transient" />
      <configurator type="Plugin.Sample.Accounts.Website.Infrastructure.ServicesConfigurator, Plugin.Sample.Accounts.Website" />
    </services>
  </sitecore>
</configuration>